// Text color
$darkGrey: #2D3748;
$descriptionLightGrey: #718096;

// Active;
$purple: #805AD5;
$blue: #1EA1F1;


// Background Colors
$cardBackgroundColor: #EDF2F7;

// Container
$containerLg-800: 800px;
$containerMd-720: 720px;
$containerSm-576: 576px;
